[submodule "Adafruit_CCS811"]
	path = Adafruit_CCS811
	url = https://github.com/ModularMonitor/lib-Adafruit_CCS811
[submodule "Adafruit_BusIO"]
	path = Adafruit_BusIO
	url = https://github.com/ModularMonitor/lib-Adafruit_BusIO
